<footer id="footer" class="footer py-2">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="footer__item text-center">
          <p>Copy Rights &copy; 2021 | Designed By <a href="https://github.com/engmoamenragab" target="_blank" class="fw-bold">Moamen Ragab</a></p>
        </div>
      </div>
    </div>
    <div class="row py-2">
      <div class="col-lg-6">
        <div class="footer__item text-center">
          <div>Favicon Icon made by <a target="_blank" href="https://smashicons.com/" title="Smashicons" class="fw-bold">Smashicons</a> from <a target="_blank" href="https://www.flaticon.com/" title="Flaticon" class="fw-bold">Flaticon</a></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="footer__item text-center">
          Home Photo by <a target="_blank" href="https://unsplash.com/@fznsr_?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" class="fw-bold">Fauzan Saari</a> on
          <a target="_blank" href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" class="fw-bold">Unsplash</a>
        </div>
      </div>
    </div>
  </div>
</footer>
