<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand text-uppercase fw-bolder" routerLink="">football news</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active"><a *ngIf="isSignin" class="nav-link" routerLink="">home</a></li>
        <li class="nav-item" routerLinkActive="active"><a *ngIf="isSignin" class="nav-link" routerLink="countries">countries</a></li>
        <li class="nav-item" routerLinkActive="active"><a *ngIf="isSignin" class="nav-link" routerLink="leagues">leagues</a></li>
        <li class="nav-item" routerLinkActive="active"><a *ngIf="isSignin" class="nav-link" routerLink="teams">teams</a></li>
        <li class="nav-item" routerLinkActive="active"><a *ngIf="isSignin" class="nav-link" routerLink="players">players</a></li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
      </form>
      <div class="navbar__social">
        <a href="#"><i class="fab fa-facebook-f mx-1"></i></a>
        <a href="#"><i class="fab fa-instagram mx-1"></i></a>
        <a href="#"><i class="fab fa-twitter mx-1"></i></a>
        <a href="#"><i class="fab fa-youtube mx-1"></i></a>
      </div>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item"><a *ngIf="!isSignin" class="nav-link" routerLink="signup">signup</a></li>
        <li class="nav-item"><a *ngIf="!isSignin" class="nav-link" routerLink="signin">signin</a></li>
        <li class="nav-item"><a *ngIf="isSignin" class="nav-link">signout</a></li>
      </ul>
    </div>
  </div>
</nav>
