<section id="homeheader" class="homeheader">
  <div class="homeheader__overlay">
    <div class="container h-100 py-5">
      <div class="row h-100 align-items-end">
        <div class="col-lg">
          <h1 class="mb-3 fw-bold">Premier League Teams</h1>
          <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let team of teams">
              <ng-template carouselSlide [id]="team.name">
                <img [src]="team.crestUrl" [alt]="team.name" [title]="team.name" />
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</section>
