@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import "./scss/variables";

body {
  background-color: $bgColor;
  color: $fontColor;
  font-family: $txtFont;
}
a {
  color: $fontColor;
  text-decoration: none;
}
a:hover {
  color: $fontColor;
  text-decoration: none;
}
