@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap&family=Montserrat+Alternates:wght@400;900&display=swa");

$bgColor: #131722;
$lightBgColor: #24baef;
$bgTransparent: rgba(36, 186, 239, 0.6);
$fontColor: #fff;
$borderColor: #a8a8a83d;
$secondFontColor: #949cb0;
$hdFont: "Montserrat", sans-serif;
$txtFont: "Montserrat Alternates", sans-serif;
$borderHeight: 1px;
